<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic/Capacitor Google Maps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <app-google-maps></app-google-maps>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Footer
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="testMarker()">
        <ion-icon slot="icon-only" ios="navigate-outline" md="navigate-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ion-icon name=""></ion-icon>